.navigation {
  height: 60px;
  margin-bottom: 30px;

  .logo {
    i {
      font-size: 2rem;
      color: $green;
    }
  }

  .navbar {
    border-bottom: 1px solid $green;
  }

  .navbar-dark {
    .navbar-nav {
      .nav-link {
        color: $white;
        font-style: normal;
        &.active {
          color: $green;
          &:hover {
            color: darken($green, 10%);
          }
        }
        &:hover {
          color: $green;
        }
      }
    }
  }
}
