.page-item {
  .page-link {
    color: $green;
    background-color: $dark;
    &:focus {
      box-shadow: none;
    }
    &:hover {
      color: $white;
      background-color: $green;
      border-color: $green;
    }
  }
  &.active {
    .page-link {
      z-index: 1;
      color: $white;
      background-color: $green;
      border-color: $green;
      &:hover {
        background-color: darken($green, 10%);
        border-color: darken($green, 10%);
      }
    }
  }
  &.disabled {
    cursor: not-allowed;
    .page-link {
      z-index: 1;
      color: $white;
      background-color: $dark;
    }
  }
}
